
<!-- <div class="wrapper fadeInDown">
<form (ngSubmit)='loginUser()' [formGroup]='loginForm'>
  <input type="text" formControlName='email' class="form-control" placeholder="enter email">
  <input type="text" formControlName='password' class="form-control" placeholder="enter password">
  <button class="btn btn-default">login</button>
</form>
</div> -->

<div class="login">
  <h2 class="login-header">Log in</h2>
  <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input type="email" placeholder="Email" formControlName="email">
    </p>

    <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
      <div *ngIf="formControls.email.errors.required">Email is required</div>
    </div>

    <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" placeholder="Password" formControlName="password">
    </p>

    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
      <div *ngIf="formControls.password.errors.required">Password is required</div>
    </div>

    <p>
      <input type="submit" value="Log in">
    </p>
    <h2>or</h2>
    <p>
        <input type="submit" value="Registor">
      </p>
  </form>
</div>
{{loginForm.value | json}}